<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Us</h2>
                <hr class="light">
                <p class="text-faded">The beginnings...</p>
<center><iframe src="https://public.tableau.com/views/AdventuresofaLibraGemini/Main?:language=en&:retry=yes&:display_count=y&:origin=viz_share_link" width="1000" height="400" frameborder="0"></iframe></center>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
