<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hey Cutie 😉</h1>
            <hr>
            <strong>If I had a star for every time you brightened my day,</strong>
            <br></br>
            <strong>I'd have a galaxy in my hand</strong>
            <br></br>
            <strong>♡ ♡ ♡ ♡ ♡ ♡ ♡ ♡</strong>
            <br></br>
            <a href="#our-dates" class="btn btn-primary btn-xl page-scroll">Click Me!</a>
        </div>
    </div>
</header>
